
h1 {
    color: #4984c0; 
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #7f8c8d;
}


button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}